{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/input/macro.njk"         import govukInput %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/title.njk"                         import title %}
{% from "govuk/components/select/macro.njk"        import govukSelect %}

{% block pageTitle %}
  {{ title(messages("securityConsignorAddress.title"), form.errors) }}
{% endblock %}

{% block pageHead %}
  <!--[if gt IE 8]><!-->
  <link href="{{ routes.controllers.Assets.versioned("stylesheets/accessible-autocomplete.min.css").url }}" media="screen" rel="stylesheet" type="text/css" />
  <!--<![endif]-->
{% endblock %}

{% block mainContent %}

  {{ govukBackLink({
    text: messages("site.back")
  }) }}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <form action="{{ routes.controllers.addItems.traderSecurityDetails.SecurityConsignorAddressController.onSubmit(lrn, mode).url }}" method="post">
        <span class="govuk-caption-xl">{{messages('items.preHeading')}}</span>

          {{ csrf() | safe }}
     <h1 class="govuk-heading-xl">
            {{ messages("securityConsignorAddress.heading", consignorName) }}
          </h1>
         {{ govukInput ({
                              classes: "govuk-!-width-two-thirds",
                              label: {
                                text: messages('securityConsignorAddress.AddressLine1')
                              },
                              id: "AddressLine1",
                              name: "AddressLine1",
                              value: form.AddressLine1.value,
                              errorMessage:  form.AddressLine1.error
                            }) }}

                            {{ govukInput({
                              classes: "govuk-!-width-two-thirds",
                              label: {
                                text: messages('securityConsignorAddress.AddressLine2')
                              },
                              id: "AddressLine2",
                              name: "AddressLine2",
                              value: form.AddressLine2.value,
                             errorMessage:  form.AddressLine2.error
                                 }) }}

                            {{ govukInput({
                              classes: "govuk-!-width-two-thirds",
                              label: {
                                text: messages('securityConsignorAddress.AddressLine3')
                              },
                              id: "AddressLine3",
                              name: "AddressLine3",
                              value: form.AddressLine3.value,
                              errorMessage: form.AddressLine3.error
                               }) }}

                            {{ govukSelect({
                              classes: "govuk-input--width-20 autocomplete",
                              label: {
                                 text: messages('securityConsignorAddress.AddressLine4')
                              },
                              id: "country",
                              name: "country",
                              items: countries,
                              value: form.country.value,
                             errorMessage: form.country.error
                             }) }}


          {{ govukButton({
            text: messages("site.continue"),
            attributes: {id:"submit"}
          }) }}

        </form>

      </div>
    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script src="{{ routes.controllers.Assets.versioned("javascripts/accessible-autocomplete.js").url }}"></script>
{% endblock %}