{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/date-input/macro.njk"    import govukDateInput %}
{% from "govuk/components/select/macro.njk"        import govukSelect %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/dateTime.njk"                      import dateTime as dateTimeMacro %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("arrivalTimesAtOffice.title"), form.errors) }}
{% endblock %}

{% block mainContent %}

  {{ govukBackLink({
    text: messages("site.back")
  }) }}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <span class="govuk-caption-xl">{{messages('routeDetails.preHeading')}}</span>

        <h1 class="govuk-heading-xl">
          {{ messages("arrivalTimesAtOffice.heading") }}
        </h1>

        <form action="{{ routes.controllers.routeDetails.ArrivalTimesAtOfficeController.onSubmit(lrn, mode).url }}" method="post">

          {{ csrf() | safe }}

         {{ dateTimeMacro({
          hint: messages('arrivalTimesAtOffice.hint'),
          items: dateTime.items,
          errorMessage: dateTime.error,
          amPmList: amPmList
          }) }}

          {{ govukButton({
            text: messages("site.continue"),
            attributes: {id:"submit"}
          }) }}

        </form>

      </div>
    </div>
  </div>

{% endblock %}
