{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("declarationSummary.title")) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("declarationSummary.heading") }}
        </h1>

         <p class="govuk-body">
          {{ messages("declarationSummary.p") }}
         </p>

     <h2 class="app-task-list__section">
       <span class="app-task-list__section-number">{{ messages("declarationSummary.departureDetails") }}</span>
     </h2>

     <div class="govuk-summary-sectionRows__row">
       <dl class="govuk-summary-list govuk-summary-list govuk-!-margin-bottom-9">
            {% for section in sections %}
                   <div class="govuk-summary-list__row">
                     <dt class="govuk-summary-list__key govuk-!-width-one-half">
                       {% if section.href %}
                             {% if section.status == "completed" %}
                                <a class="govuk-link" href={{section.href}} >{{ messages(section.name, messages("site.edit")) }}</a>
                             {% else %}
                                <a class="govuk-link" href={{section.href}} >{{ messages(section.name, messages("site.add")) }}</a>
                             {% endif %}
                        {% else %}
                             <p> {{ messages(section.name, messages("site.add")) }} <p>
                        {% endif %}
                     </dt>
                     <dd class="govuk-summary-list__value">
                     </dd>
                       <dd class="govuk-summary-list__actions">
                             <p> {{ messages("site."+section.status) }} <p>
                       </dd>
                   </div>
             {% endfor %}
          </dl>
       </div>
          <p class="govuk-body"><a href={{backToTransitMovements}}>{{ messages("declarationSummary.backToTransitMovements")}}</a></p>
      </div>
    </div>
  </div>

{% endblock %}
