{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"        import govukBackLink %}
{% from "macros/title.njk"                         import title %}


{% block pageTitle %}
  {{ title(messages("declarationRejection.title")) }}
{% endblock %}

{% block mainContent %}

{{ govukBackLink({
    text: messages("site.back")
  }) }}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("declarationRejection.heading") }}
        </h1>

        <p class="govuk-body">
            {{ declarationRejectionMessage.reason}}
        </p>

                {% for error in declarationRejectionMessage.errors %}
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                             {{ messages("declarationRejection.errorType") }}
                              </dt>
                              <dd class="govuk-summary-list__value">
                              {{ error.errorType }}
                              </dd>
                          </div>
                          <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                             {{ messages("declarationRejection.pointer") }}
                              </dt>
                              <dd class="govuk-summary-list__value">
                                    {{ error.pointer }}
                              </dd>
                          </div>
                          {% if error.reason  %}
                              <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                 {{ messages("declarationRejection.reason") }}
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                      {{ error.reason }}
                                  </dd>
                               </div>
                        {% endif %}
                    </dl>
                 {% endfor %}

                 <p class="govuk-body">
                 You must <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/new-computerised-transit-system-enquiries">contact the New Computerised Transit System helpdesk to get this fixed (opens in a new window)</a>.
                 </p>

      </div>
    </div>
  </div>

{% endblock %}
